<form action="register/auth" method="POST">

  <label>Tên đăng nhập</label>
  <input type="text" name="username" class="form-control">
  <br>


  <label>Mật khẩu</label>
  <input type="password" name="password" class="form-control">
  <br>
  <label>Nhập lại mật khẩu</label>
  <input type="password" name="repassword" class="form-control">

  <br>

  <button type="submit" class="btn btn-primary">Đăng ký</button>
</form>